<!DOCTYPE html>
<html>
<head>
  <title>MMR arthistory project - Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <style type="text/css">
    body {
      background: white;
      color: black;
    }
    .container {
      margin-top: 2em;
    }
    .btnwrap {
      text-align: center;
    }
    </style>
</head>
<body>
  <div class="container">
    <p>
      Dear participant,

      <br><br>Please find two different paintings that you like. You do this by browsing through the application and selecting a painting you enjoy. You then see five paintings that are similar to the one you chose. You can click on these to get similar ones to the one you selected. Do this as long as you want, but stop when you find a painting you like. Go to Artretriever.nl again and complete the steps again. So do this two times in total. Afterwards please fill out the questionnaire by clicking the "questionnaire" button.

      <br><br>Thank you for helping us out!

      <br><br>Greetings,

      <br>An, Sam, Fons &amp; Marthe
    </p>
    <div class="btnwrap">
      <a class="btn btn-primary" href="{{url_for('showoffapp.index')}}">Show me some paintings!</a>
    </div>
  </div>



</body>
</html>
