<!DOCTYPE html>
<html>
<head>
  <title>MMR arthistory project - Training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

  <style>
  /* Flexbox layout */
  html, body {
    background: #55616F;
  }
  .msgbar {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: red;
    color: white;
  }
  .grid-sizer, .grid-item {
    width: 33.33%;
  }
  .portfoliothumbnail {
    width: 100%;
  }
  /*.imgframe {
    padding-left: 20%;
    padding-right: 20%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .midcolinside {
    margin-right: 100px;
  }*/
  </style>
</head>
<body>

{# Use raw for jinja2 escaping! #}
{% raw %}
  <div id="app">
        <div class="msgbar" v-if="message">
          {{message}}
        </div>
        <div class="grid">
          <div class="grid-sizer"></div>
          <div v-for="painting in paintings" class="grid-item">
            <img v-bind:src="painting.afbeelding" class="portfoliothumbnail">
          </div>
        </div>
  </div>
{% endraw %}

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='vue.js')}}" type="text/javascript"></script>

<script type="text/javascript">
// Knuth shuffle
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

// On document load
function ready() {

  function initMasonry() {
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true,
    });
  }

  var vm = new Vue({
    el: '#app',
    data: {
      message: '',
      paintings: [],
    },
    computed: {
    },
    methods: {
      getAllPaintings: function() {
        return axios.get('/api/get_all_paintings')
        .then((response) => {
          var paintings = response.data;
          paintings = shuffle(paintings);
          // TODO: true infinite scroll
          this.paintings = paintings.slice(0,60);
        }).catch((error) => {
          this.message = "Error loading all paintings list";
        });
      },

      loadAndShow: function() {
        // Promises!
        this.getMainPainting().then(this.getSimilarPainting)
        .then(() => {
          // TODO: Wait for img src load!
          this.show = true;
          this.showbuttons = true;
          this.startTimer();
        });
      },
      getMainPainting: function() {
        return axios.get('/api/get_random_painting')
        .then((response) => {
          this.mainimg = response.data;
          this.message = response.data.msg;
          return this.mainimg;
        }).catch((error) => {
          this.message = "Error loading main painting!";
        });
      },
      getSimilarPainting: function(paintingobj) {
        // Send painting object so backend can compare on whatever attribute
        return axios.post('/api/get_similar_painting', paintingobj)
        .then((response) => {
          this.similarimg = response.data;
        }).catch((error) => {
          this.message = "Error loading similar paintings!";
        });
      },
    }
  });

  vm.getAllPaintings()
  .then(() => {
    // Returns jquery deferred object
    return $('.grid').imagesLoaded();
  })
  .then(initMasonry);

  // USE THIS WHEN SHOWING EXTRA paintings
  // grid.masonry('layout');

  document.vm = vm;
}
document.addEventListener("DOMContentLoaded", ready, false);
</script>
</body>
</html>
