<!DOCTYPE html>
<html>
<head>
  <title>MMR arthistory project - Introduction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <style type="text/css">
    body {
      background: white;
      color: black;
    }
    .container {
      margin-top: 2em;
    }
    .btnwrap {
      text-align: center;
    }
    </style>
</head>
<body>
  <div class="container">
    <p>
      You have evaluated 30 paintings, thanks a lot!
    </p>
  </div>
</body>
</html>
