<!DOCTYPE html>
<html>
<head>
  <title>MMR arthistory project - Training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
  /* Flexbox layout */
  html, body {
    margin: 0;
    height: 100%;
    background: #55616F;
  }
  .imgframe {
    padding-left: 20%;
    padding-right: 20%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    height: 100%;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .leftcol, .rightcol {
    flex: 0 0 40%;
  }
  .midcol {
    flex: 0 0 20%;
  }
  .midcolinside {
    margin-right: 100px;
  }
  </style>
</head>
<body>

{# Use raw for jinja2 escaping! #}
{% raw %}
  <div id="app" class="container">
        <div class="leftcol">
          <div class="imgframe">
            <img v-if="show" v-bind:src="'/api'+mainimg.afbeelding">
          </div>
        </div>
        <div class="rightcol">
          <div class="imgframe">
            <img v-if="show" v-bind:src="'/api'+similarimg.afbeelding" class=" slideInUp">
          </div>
        </div>
        <div class="midcol">
          <div class="midcolinside">
            <span v-if="show">Timer: {{ timer.toFixed(0) }}s</span>
            <br><br>
            {{ message }}
            <br><br>
            <div v-if="showbuttons" class="vote" v-on:click="vote">
              <button value='5'>5 - Very similar</button><br>
              <button value='4'>4</button><br>
              <button value='3'>3</button><br>
              <button value='2'>2</button><br>
              <button value='1'>1 - Not similar</button><br><br>
              <button value='0'>I don't know</button>
            </div>
          <div>
        </div>
  </div>
{% endraw %}

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<!-- <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script> -->
<script src="{{url_for('static', filename='vue.js')}}" type="text/javascript"></script>

<script type="text/javascript">
function ready() {

  var vm = new Vue({
    el: '#app',
    data: {
      settings: {
        showsecs: 10,
      },

      message: "",

      mainimg: {},
      similarimg: {},

      show: false,
      showbuttons: false,
      timer: 0,
    },
    computed: {
      // Returns 0 if everything is all right, >0 otherwise
      messageSeverity: function() {
        return this.message.toLowerCase().indexOf('error') !== -1 ? 1 : 0;
      },
    },
    methods: {
      updateTimer: function() {
        var elapsed = new Date().getTime() / 1000 - this.starttime;
        this.timer = this.settings.showsecs - elapsed;
        // Hide if done
        if (elapsed >= this.settings.showsecs) {
          this.show = false;
        // If not done, count down some more
        } else {
          // NOTE: this will run more times if voted before time elapses,
          //       but that's not really a problem
          window.setTimeout(this.updateTimer, 100);
        }
      },
      // Hide painting after timer elapses
      startTimer: function() {
        // Seconds since epoch
        this.starttime = new Date().getTime() / 1000;
        this.updateTimer();
      },
      vote: function(ev) {
        if (!ev.target.value) return;
        // Hide, display message
        this.showbuttons = false;
        this.show = false;
        // Send vote to API, check if success
        var j = {
          'mainimg': this.mainimg,
          'similarimg': this.similarimg,
          'votevalue': ev.target.value,
        };
        axios.post('/api/vote', j).then((response)=>{
          this.message = response.data.msg;
        });
        // Load new paintings
        this.loadAndShow();
      },
      loadAndShow: function() {
        // Promises!
        this.getMainPainting().then(this.getSimilarPainting)
        .then(() => {
          // TODO: Wait for img src load!
          this.show = true;
          this.showbuttons = true;
          this.startTimer();
        });
      },
      getMainPainting: function() {
        return axios.get('/api/get_random_painting')
        .then((response) => {
          this.mainimg = response.data;
          this.message = response.data.msg;
          return this.mainimg;
        }).catch((error) => {
          this.message = "Error loading main painting!";
        });
      },
      getSimilarPainting: function(paintingobj) {
        // Send painting object so backend can compare on whatever attribute
        return axios.post('/api/get_similar_painting', paintingobj)
        .then((response) => {
          this.similarimg = response.data;
        }).catch((error) => {
          this.message = "Error loading similar paintings!";
        });
      },
    }
  });

  vm.loadAndShow();

  document.vm = vm;
}
document.addEventListener("DOMContentLoaded", ready, false);
</script>
</body>
</html>
